/* css cho danh gia sao */

.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}

.score .stars-active {
    color: #FFAE28;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: #C4C4C4;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}


/* het css cho danh gia sao */


/* css cho nut thich */

.btn_like {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
}


/* het css cho nut thich */


/* css cho main content */

.main_content {
    padding: 50px;
    background: #F4F4F4;
}

.main_content .title p {
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #1976D2;
    text-transform: uppercase;
}

.main_content .box_top {
    padding: 0px 33px;
}

.main_content .box_top .box_content {
    padding: 21px 71px;
    background: #FFFFFF;
    border-radius: 20px;
}

.box_top .box_content .box_tag .tag_item {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.342917) 80.1%, rgba(0, 0, 0, 0.4) 100%);
    border-radius: 10px;
    max-width: 203px;
    position: relative;
    overflow: auto;
    height: 228px;
}

.box_top .box_content .box_tag {
    position: relative;
    margin-top: 25px;
}

.slick-prev-tag,
.slick-next-tag {
    background: none;
    border: none;
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    top: 0;
}

.slick-prev-tag {
    left: -45px;
}

.slick-next-tag {
    right: -45px;
}

.box_tag .tag_item::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.342917) 80.1%, rgba(0, 0, 0, 0.4) 100%);
}

.box_tag .tag_item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.box_tag .tag_item .title {
    position: absolute;
    bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.box_tag .tag_item .content {
    display: none;
}

.box_tag .tag_item:hover::before {
    display: none;
}

.box_tag .tag_item:hover .score .stars-inactive {
    color: #FFFFFF;
}

.box_tag .tag_item:hover {
    background: #1976D2 !important;
    border-radius: 10px;
    padding: 18px 20px;
    height: 100%;
}

.box_tag .tag_item:hover img {
    display: none;
}

.box_tag .tag_item:hover .content {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 15px;
}

.box_tag .tag_item:hover .title {
    position: unset;
}

.main_content .box_job {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.box_job .block_left {
    width: 72%;
}

.box_job .block_right {
    width: 26%;
}

.box_job .block_left .block_left_content {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 38px 43px;
    margin-bottom: 60px;
}

.box_job .block_left .block_left_content:last-child {
    margin-bottom: 0px;
}

.box_job .block_right .block_right_content {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 17px;
    padding-bottom: 33px;
    margin-bottom: 20px;
}

.box_job .block_right .filter {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 17px;
    padding-bottom: 33px;
    margin-bottom: 20px;
    height: 400px;
}

.box_job .block_left .block_left_content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #1976D2;
}

.block_left_content .job_list {
    padding: 17px 33px;
    position: relative;
}

.block_left_content .job_list .job_item {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(25, 118, 210, 0.55);
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 15px;
    display: block;
    padding: 15px;
    position: relative;
}

.block_left_content .job_list .job_item:hover {
    background: rgba(25, 118, 210, 0.55);
}

.job_list .job_item:hover .box_profile .box_right .name,
.job_list .job_item:hover .info .row_info .location,
.job_list .job_item:hover .info .row_info .salary,
.job_list .job_item:hover .info .row_info .exp,
.job_list .job_item:hover .info .row_info .exp span,
.job_list .job_item:hover .info .row_info .job_location,
.job_list .job_item:hover .info .row_info .age,
.job_list .job_item:hover .info .row_info .age span,
.job_list .job_item:hover .box_detail .content {
    color: #FFFFFF;
}

.job_list .job_item:hover .score .stars-inactive {
    color: #FFFFFF;
}

.job_list .job_item:hover .list_tag .tag_item {
    background: #FFFFFF;
}

.job_list .job_item:hover .schedule .active {
    color: #FFAE28;
    border: 1px solid #FFAE28;
}

.job_list .job_item:hover .schedule .non_active {
    color: #FFFFFF;
    background: #C4C4C4
}

.job_list .job_item:hover .box_profile .box_left .avt img {
    border: 2px solid #FFAE28;
}

.job_item .box_profile {
    display: flex;
    justify-content: space-between;
}

.box_profile .box_left {
    width: 100px;
}

.box_profile .box_right {
    width: calc(100% - 120px);
}

.box_profile .box_left .avt img {
    width: 100px;
    height: 100px;
    border: 2px solid #1976D2;
    border-radius: 50%;
}

.box_profile .box_left .rate_star {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3px;
}

.box_profile .box_right .name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #1C1D20;
}

.box_profile .box_right .info .row_info {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    align-items: center;
}

.info .row_info .icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .row_info .icon img {
    max-width: 19px;
    max-height: 19px;
    width: auto;
    height: auto;
}

.info .row_info .location {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1D20;
}

.info .row_info .salary {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FF0000;
}

.info .row_info .exp {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1D20;
}

.info .row_info .job_location {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1D20;
}

.icon_birthday {
    margin-left: 30px;
}

.grey {
    color: #666666;
}

.info .row_info .schedule {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.schedule .active {
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #1976D2;
    margin-right: 10px;
}

.schedule .non_active {
    width: 26px;
    height: 26px;
    background: #EFEFEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-right: 10px;
}

.list_tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}

.list_tag .tag_item {
    display: block;
    padding: 4px 9px;
    margin-right: 10px;
    background: #EFEFEF;
    border-radius: 10px;
    margin-bottom: 5px;
}

.list_tag .tag_item span {
    font-size: 14px;
    line-height: 16px;
    color: #1976D2;
}

.job_item .box_detail {
    margin-top: 9px;
}

.job_item .box_detail .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1D20;
}

.block_right_content .title {
    display: flex;
    justify-content: flex-start;
}

.block_right_content .title img {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
    margin-right: 18px;
}

.block_right_content .title p {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #1976D2;
    text-align: unset;
    text-transform: unset;
}

.block_right_content .list_item {
    margin-top: 19px;
}

.block_right_content .list_item button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1976D2;
    background: none;
    border: none;
}

.block_right_content .list_item .item {
    margin-top: 20px;
}


/* css phan trang */

.pagination_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination {
    padding-right: 5px;
}

.pagination ul {
    display: flex;
    justify-content: flex-end;
}

.pagination ul li img {
    max-height: 12px;
    width: auto;
}

.pagination ul li {
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #1C1D20;
    background: rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    margin-right: 5px;
}

.pagination_box .total_page {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.pagination li.active {
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 5px;
}


/* het css phan trang */


/*het css cho main content */


/* bat dau responsive */

@media only screen and ( min-width: 1520px) {
    .main_content {
        padding: 50px 125px;
    }
}

@media only screen and ( max-width: 1365px) {
    .main_content {
        padding: 50px 24px;
    }
    .main_content .box_top {
        padding: 0px 15px;
    }
    .box_top .box_content .box_tag .tag_item {
        max-width: 163px;
        height: 183px;
    }
    .box_tag .tag_item:hover .content {
        font-size: 14px;
        line-height: 16px;
    }
    .box_tag .tag_item:hover .title {
        font-size: 14px;
        line-height: 16px;
    }
    .main_content .box_top .box_content {
        padding: 21px 35px;
    }
    .slick-prev-tag {
        left: -25px;
    }
    .slick-next-tag {
        right: -25px;
    }
    .box_job .block_left .block_left_content .title {
        font-size: 24px;
    }
    .box_job .block_right .block_right_content {
        padding: 17px 12px;
    }
    .block_right_content .title img {
        margin-right: 4px;
    }
    .block_right_content .title p {
        font-size: 17px;
        line-height: 20px;
    }
}

@media only screen and ( max-width: 1023px) {
    .main_content {
        padding: 50px 43px;
    }
    .main_content .box_top {
        padding: 0px;
    }
    .box_top .box_content .box_tag .tag_item {
        max-width: 118px;
        height: 133px;
    }
    .box_tag .tag_item .title {
        font-size: 12px;
        line-height: 20px;
    }
    .box_tag .tag_item:hover .content {
        font-size: 12px;
        line-height: 16px;
    }
    .box_tag .tag_item:hover {
        padding: 5px;
    }
    .box_tag .tag_item:hover .title {
        font-size: 12px;
        line-height: 16px;
    }
    .slick-next-tag img,
    .slick-prev-tag img {
        max-width: 26px;
        height: auto;
    }
    .main_content .box_top .box_content {
        padding: 21px 25px;
    }
    .slick-prev-tag {
        left: -17px;
    }
    .slick-next-tag {
        right: -17px;
    }
    .main_content .box_top .title p {
        font-size: 24px;
    }
    .box_job .block_left .block_left_content {
        padding: 38px 10px;
    }
    .box_job .block_left .block_left_content .title {
        font-size: 24px;
    }
    .box_job .block_right {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 45px;
    }
    .box_job .block_right .list_province {
        width: 38%;
    }
    .box_job .block_right .list_district {
        width: 60%;
    }
    .main_content .box_job {
        display: block;
    }
    .box_job .block_left {
        width: 100%;
    }
}

@media only screen and ( max-width: 767px) {
    .main_content {
        padding: 32px 15px;
    }
    .main_content .box_top {
        display: none;
    }
    .main_content .box_job {
        margin: 0px;
    }
    .box_job .block_left .block_left_content .title {
        font-size: 17px;
    }
    .box_job .block_left .block_left_content {
        padding: 32px 0px;
    }
    .block_left_content .job_list {
        padding: 0px 7px;
        padding-bottom: 10px;
    }
    .box_profile .box_left {
        width: 64px;
    }
    .box_profile .box_left .avt img {
        width: 64px;
        height: 64px;
    }
    .score .stars-active,
    .score .stars-inactive {
        font-size: 12px;
    }
    .box_profile .box_right {
        width: calc(100% - 74px);
    }
    .box_profile .box_right .name {
        font-size: 16px;
        line-height: 19px;
    }
    .info .row_info .icon {
        width: 20px;
    }
    .info .row_info .icon img {
        max-width: 15px;
        height: auto;
    }
    .info .row_info p {
        font-size: 14px;
        line-height: 16px;
    }
    .icon_birthday {
        margin-left: 10px;
    }
    .schedule .active,
    .schedule .non_active {
        width: 20px;
        height: 20px;
    }
    .job_item .box_detail .content {
        font-size: 13px;
        line-height: 15px;
    }
    .box_job .block_right {
        display: block;
    }
    .box_job .block_right .list_province,
    .box_job .block_right .list_district {
        width: 100%;
    }
}


/* ket thuc responsive */