/* css cho thong tin ca nhan */

.form_input .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.form_input .row .text {
    font-weight: 600;
}

.form_input .row .left,
.form_input .row .right {
    width: 47%;
}

.warning {
    color: red;
}

.form_input .row label {
    display: block;
    font-weight: 600;
}

.form_input .row label span:first-child {
    padding-right: 5px;
}

.form_input .row .center {
    width: 100%;
}

.row .center textarea {
    margin-left: 3%;
    width: 97%;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 15px;
}

.form_input .row input,
.form_input .row select {
    width: 100%;
    padding: 10px 18px;
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
}

.form_input .row input:disabled {
    background: #EFEFEF;
    border: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    padding: 0;
}

input#birth {
    background: url('/images/icon_calendar.svg') no-repeat;
    background-size: 24px 24px;
    background-position: calc(100% - 8px) 8px;
}

.block_profile .select2-container {
    margin-top: 10px;
    border-radius: 10px;
}

.block_profile .select2-container--default .select2-selection--single,
.block_profile .select2-container--default .select2-selection--multiple,
.block_profile .select2-container--default.select2-container--focus .select2-selection--multiple {
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 10px;
    height: fit-content;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    z-index: 10;
    /* background: url('/images/arrow_bottom.svg') no-repeat;
    background-position: calc(100% - 16px) 45%; */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url('/images/arrow_down.svg') no-repeat;
    top: 0;
    right: 10px;
    height: 100%;
    background-position: center;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__arrow,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single .select2-selection__arrow {
    background: url('/images/arrow_up.svg') no-repeat;
    top: 0;
    right: 10px;
    height: 100%;
    background-position: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    vertical-align: middle !important;
}

.block_profile .select2-container--default .select2-selection--multiple,
.block_profile .select2-container--default.select2-container--focus .select2-selection--multiple {
    padding: 8px 20px;
}

.block_profile .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.block_profile .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.block_profile .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.block_profile .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-radius: 10px;
    position: relative;
    z-index: 1052;
    background: #FFFFFF;
}

.select2-results__option {
    padding: 6px 20px;
    background: none;
    z-index: 1051;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: none;
    color: #1976D2;
}

.block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 20px;
}

.block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 16px;
    line-height: 19px;
    color: #1976D2;
}

.block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    border-radius: 10px;
}

.block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    left: unset;
    right: 5px;
    border: none;
    color: #1976D2;
    font-size: 25px;
    font-weight: 100;
    background: url('/images/close_icon_blue.svg');
    width: 13px;
    height: 19px;
    background-position: 100% 100%;
    background-size: 100% 100%;
}

.block_profile .select2-dropdown {
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    max-height: 40vh;
    overflow: auto;
}

.block_profile .select2-dropdown--below {
    padding-top: 8px;
    margin-top: -16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.block_profile .select2-dropdown--above {
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice__remove span {
    display: none;
}


/* .block_profile .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: url('/images/close_icon.svg');
} */

.block_profile .select2-container--default .select2-results>.select2-results__options {
    max-height: unset;
}

.block_profile .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.block_profile .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0px;
    font-size: 16px;
    line-height: 19px;
}

.block_profile .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #FFFFFF !important;
    color: #1976D2;
}

.block_profile .select2-container--default .select2-results__option--selected {
    background: none;
    font-weight: 600;
    color: #1976D2;
    background: #FFFFFF;
    z-index: 1051;
}

.block_profile .select2-container--default .select2-selection--single .select2-selection__placeholder:first-child {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
}

.block_profile .select2-container .select2-search--inline .select2-search__field {
    margin: 0px;
    vertical-align: middle;
    height: 23px;
}

.sal_opt {
    display: inline-flex;
    background: #fff;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 0px;
    padding-bottom: 0px;
}

.sal_opt .option {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #1976D2;
    background: #1976D2;
}

.sal_opt .option span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #fff;
}

.form_input .row_sal .sal_from,
.form_input .row_sal .sal_to,
.form_input .row_sal #static {
    position: relative;
}

.form_input .row_sal {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.form_input .row_sal .left {
    width: 47%;
}

.form_input .row_sal .right {
    width: 20%;
}

.form_input .row_sal .middle {
    width: 6%;
    text-align: center;
    font-style: italic;
}

.form_input .row_sal input,
.form_input .row_sal select {
    width: 100%;
    padding: 10px 18px;
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
}

#dynamic .sal_from,
#dynamic .sal_to {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.left .text span {
    position: absolute;
    top: 29%;
    right: 15px;
    color: #1976D2;
}

.row_sal .select2-container {
    margin-top: 0px;
}

.form_input .row_sal {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.table_schedule {
    display: flex;
    flex-direction: column;
}

.table_schedule .schedule_row {
    display: flex;
    justify-content: start;
    border-bottom: 1px dashed #1C1D20;
    box-sizing: border-box;
    padding: 10px 0px;
}

.container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    padding-left: 40px;
}

.container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 14%;
    left: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    border: 1.5px solid #C4C4C4;
}

.container:hover .checkmark {
    background: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.container input:checked~.checkmark {
    background: rgba(25, 118, 210, 0.55);
    border: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.col_1 .date {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: #1976D2;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 50%;
    /* padding: 7px 7px; */
    width: 32px;
    height: 32px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.schedule_row .col_1 {
    width: 12%;
}

.schedule_row .col_2 span,
.schedule_row .col_3 span {
    width: 15%;
    padding-left: 10px;
    padding-right: 10px;
}

.schedule_row .col_2 button,
.schedule_row .col_3 button {
    width: 10%;
}

.schedule_row .col_2 input,
.schedule_row .col_3 input {
    width: 30%;
}

.col_time {
    display: flex;
    justify-content: start;
    width: 44%;
    align-items: center;
}

.col_time input {
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 16px;
    line-height: 19px;
    width: 30%;
    text-align: center;
}

.col_time button {
    background: none;
    border: none;
    padding: 0px;
}

.schedule_msg {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.box_skill {
    margin-top: 20px;
    padding: 0px 30px;
}

.box_skill .check_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box_skill .check_box .left,
.box_skill .check_box .right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.box_skill .check_box .right label,
.box_skill .check_box .left label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_skill .container {
    padding-left: 30px;
    min-height: 22px;
    min-width: 22px;
}

.box_skill .checkmark {
    top: 0;
}

.box_skill .other_skill {
    display: flex;
    align-items: center;
}

.box_skill .other_skill input {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px 10px;
    width: 80%;
    margin-right: 10px;
}

.box_skill .other_skill input:disabled {
    background: #C4C4C4;
    border: none;
}

.box_skill .other_skill button {
    background: none;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.block_profile .box_btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.block_profile .box_btn button {
    width: 30%;
    background: none;
    border: none;
}

.box_btn button.update {
    background: #1976D2;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 5px 0px;
}

.box_btn button.cancel {
    background: #FFFFFF;
    border: 1px solid #1976D2;
    box-sizing: border-box;
    border-radius: 20px;
    color: #1976D2;
    padding: 5px 0px;
}

.login_row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login_row span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1C1D20;
}

.login_row span a {
    text-transform: uppercase;
    padding-left: 3px;
}

#dynamic input {
    width: 100%;
}

#dynamic label {
    width: 20%;
    color: #666666;
}

@media only screen and ( min-width: 1520px) {}

@media only screen and ( max-width: 1365px) {}

@media only screen and ( max-width: 1023px) {
    .form_register {
        padding: 50px 16px;
    }
    .form_register .form_title {
        font-size: 28px;
        line-height: 33px;
    }
}

@media only screen and ( max-width: 767px) {
    #dynamic .sal_from,
    #dynamic .sal_to {
        width: 100%;
        margin: 5px 0px;
    }
    #dynamic label {
        width: 25%;
    }
    .left .text span {
        top: 20%;
    }
    .schedule_row .col_2 span,
    .schedule_row .col_3 span {
        padding-left: 7px;
    }
}

@media only screen and ( max-width: 767px) {
    .form_input .row {
        display: block;
    }
    .form_input .row .left,
    .form_input .row .right {
        width: 100%;
    }
    .form_input .row .right {
        margin-top: 10px;
    }
    .form_register .form_title {
        font-size: 18px;
        line-height: 21px;
    }
    .form_register .image {
        width: 90px;
        height: 90px;
    }
    .image input[type=file] {
        width: 90px;
        height: 90px;
        opacity: 0;
        z-index: 1;
        position: absolute;
    }
    .form_register .image img {
        width: 95px;
        height: 95px;
    }
    .form_input .row_sal .left {
        width: 60%;
    }
    .form_input .row_sal .right {
        width: 34%;
    }
    .table_schedule .schedule_row {
        display: block;
    }
    .table_schedule .schedule_row .col_1 {
        float: left;
        width: 20%;
    }
    .table_schedule .schedule_row .col_2 {
        float: left;
        width: 80%;
    }
    .table_schedule .schedule_row .col_3 {
        float: left;
        width: 80%;
        margin-top: 10px;
    }
    .schedule_msg {
        justify-content: end;
    }
    .login_row {
        display: block;
    }
    .login_row span {
        width: 100%;
        display: block;
        text-align: center;
    }
    .col_1 .container {
        padding-left: 28px;
    }
    .schedule_row .col_2 span,
    .schedule_row .col_3 span {
        width: 17%;
    }
    .schedule_row .col_2 input,
    .schedule_row .col_3 input {
        width: 28%;
    }
    .block_profile .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-size: 14px;
        line-height: 16px;
    }
    .block_profile .select2-container--default .select2-selection--single .select2-selection__placeholder:first-child {
        font-size: 14px;
        line-height: 16px;
    }
     ::-webkit-input-placeholder {
        font-style: italic;
        color: #c4c4c4;
        font-size: 14px;
        line-height: 16px;
    }
}


/* het css cho thong tin ca nhan */