.main_content {
    background: none;
    color: #333;
    padding: 25px 0px;
    width: 100%;
}

.main_content .box_noti {
    width: 772px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(25, 118, 210, 0.25);
    border-radius: 20px;
    padding: 24px 70px;
}

.box_noti .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #1976D2;
    padding-top: 10px;
}

.box_noti img {
    display: block;
    margin: 19px auto;
    max-width: 100%;
    margin-bottom: 0px;
}

.box_noti .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 141.19%;
    text-align: center;
    color: #1C1D20;
    padding-top: 15px;
    margin: 0px auto;
}

.box_noti .content:last-child {
    padding-top: 30px;
}

.main_content .btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .btn_box button {
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    width: fit-content;
    margin: 0px 13px;
    display: block;
    margin-top: 20px;
}

.main_content .btn_box .retype {
    padding: 10px 26px;
    background: #FFAE28;
}

.main_content .btn_box .re_send {
    padding: 10px 30px;
    background: #C4C4C4;
}

.main_content .box_noti button span {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.main_content .box_noti button .time {
    color: #ffae28;
}

@media only screen and ( max-width: 1023px) {
    .main_content .box_noti {
        width: 606px;
        padding: 20px 95px;
    }
    .box_noti .title {
        font-size: 24px;
        line-height: 28px;
        color: #1976D2;
        padding-top: 0px;
    }
}

@media only screen and ( max-width: 767px) {
    .main_content .box_noti {
        width: 343px;
        padding: 25px 22px;
    }
    .box_noti .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #1976D2;
        padding-top: 0px;
    }
    .box_noti .content {
        font-size: 14px;
        line-height: 20px;
    }
    .main_content .btn_box .retype {
        padding: 10px 13px;
        background: #FFAE28;
    }
    .main_content .btn_box .re_send {
        padding: 10px 17px;
        background: #C4C4C4;
    }
    .main_content .btn_box button {
        margin: 0px;
        margin-top: 35px;
    }
    .main_content .btn_box {
        justify-content: space-between;
    }
}
