.main_content {
    background: none;
    color: #333;
    padding: 50px 0px;
    width: 100%;
}

.main_content .main_box {
    width: 620px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(39, 88, 221, 0.3);
    border-radius: 30px;
    margin: auto;
    padding: 26px 50px;
    letter-spacing: 0;
}

.main_box .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 61px;
    color: #1976D2;
}

.main_box img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.main_box button {
    margin-top: 47px;
    margin-bottom: 92px;
    padding: 13px 41px;
    background: #1976D2;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    line-height: 16px;
}

@media only screen and ( max-width: 1023px) {
    .main_content .main_box {
        padding: 16px 110px;
    }
    .main_box .title {
        font-size: 28px;
        line-height: 48px;
    }
    .main_box button {
        margin-top: 24px;
        margin-bottom: 12px;
        padding: 9px 41px;
    }
}

@media only screen and ( max-width: 767px) {
    .main_content .main_box {
        width: 343px;
        padding: 28px 43px;
    }
    .main_box .title {
        font-size: 18px;
        line-height: 21px;
    }
    .main_box button {
        margin-top: 32px;
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 16px;
    }
}
