body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.main_content {
    background: none;
    color: #333;
    padding: 25px 0px;
    padding-bottom: 45px;
    width: 100%;
}

.main_box {
    width: 1010px;
    height: 587px;
    margin: 0px auto;
    padding: 52px 27px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(25, 118, 210, 0.25);
    border-radius: 20px;
}

.main_box .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #1976D2;
}

.main_box .center_box {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.center_box .box_img,
.center_box .box_form {
    width: 45%;
}

.box_img img {
    max-width: 100%;
}

.center_box .box_form {
    padding: 0px 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center_box .box_form label {
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #1976D2;
    display: block;
    margin-top: 38px;
}

.center_box .box_form label:first-child {
    margin-top: 0px;
}

.box_form .row_input {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 8px 24px;
    border: 1px solid rgba(25, 118, 210, 0.55);
    margin-top: 13px;
    display: flex;
    align-items: center;
}

.row_input img {
    padding-right: 14px;
}

.row_input input {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    width: 100%;
}

.row_input input::placeholder {
    color: #666666;
    font-style: italic;
}

.box_form .text_box {
    margin-top: 20px;
}

.box_form .text_box .content {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    line-height: 23px;
}

.box_form button {
    font-family: Roboto, sans-serif;
    background: #1976D2;
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 12px 46px;
    margin: 0px auto;
    margin-top: 33px;
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and ( max-width: 1365px) {
    .main_content .main_box {
        width: 916px;
        padding: 52px 28px;
    }
}

@media only screen and ( max-width: 1023px) {
    .main_content .main_box {
        width: 720px;
        padding: 20px 30px;
        height: 421px;
    }
    .main_box .title {
        font-size: 24px;
        line-height: 28px;
    }
    .center_box .box_form {
        width: 54%;
    }
    .center_box .box_form label {
        margin-top: 22px;
    }
    .box_form button {
        margin-top: 18px;
    }
    .row_input input {
        font-size: 14px;
        line-height: 16px;
    }
}

@media only screen and ( max-width: 767px) {
    .main_content .main_box {
        width: 343px;
        padding: 28px 38px;
        height: unset;
    }
    .main_box .center_box {
        display: block;
    }
    .main_box .title {
        font-size: 18px;
        line-height: 21px;
    }
    .center_box .box_img,
    .center_box .box_form {
        width: 100%;
    }
    .center_box .box_form {
        margin-top: 30px;
        padding: unset;
    }
    .box_form .row_input {
        padding: 7px 24px;
    }
    .row_input input {
        font-size: 13px;
        line-height: 16px;
    }
    .row_input img {
        height: 16px;
    }
    .center_box .box_form label {
        margin-top: 17px;
    }
}
