.c14g1H .shopee-header-section__content {
    display: flex;
    background-color: #fff;
}

.image-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-carousel__item-list-wrapper {
    height: 100%;
    overflow: hidden;
    touch-action: pan-y;
}

.image-carousel__item-list {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.image-carousel__item {
    overflow-x: hidden;
    list-style: none;
    float: left;
    touch-action: pan-y;
}

.image-carousel__item a,
.image-carousel__item img {
    -webkit-user-drag: none;
}

.Bgk7rO {
    display: flex;
}

._1YUC2o {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 1.25rem;
    color: #555;
    font-size: 1.125rem;
    text-align: left;
    text-transform: capitalize;
    word-break: break-word;
}

._2AZZvG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 2rem;
    height: 2.5rem;
    background-size: 2rem 2.5rem;
}

._1tynY3 {
    width: 100%;
    padding-top: 100%;
}

._1tynY3,
.Bgk7rO {
    position: relative;
}

._3TQvZd {
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}


/* code trên bỏ tham khảo =)) */

/* banner3 */
.warper {
    text-align: center;
    padding-top: 8px;
}
.warper button {
    /* top: 50%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    height: 50px;
    background: #164A77;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}
.wr_banner3 .slick-dots {
    display: none;
}
.wr_baner3 {
    padding: 50px 0px;
}
.wr_baner5 {
    padding: 50px 0px;
}
/* banner7 */

.wr_banner7 {
    width: 94%;
    float: left;
    margin: 20px 0px 0px 40px;
    padding: 14px 0px 0px 18px;
    background: url(../images/bg-banner7.png) no-repeat;
    background-size: 100%;
}
.wr_bn7_left {
    width: 55%;
    float: left;
    padding: 64px 105px 0px 106px;
}
.title-banner7 .title_1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #27AFFC;
}
.title-banner7 .title_2 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: #0D71BA;
}
.title-banner7 .text-1 {
    width: 100%;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #164A77;
}
.title-banner7 .text-2 {
    width: 100%;
    float: left;font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #5A758B;
}
.wr_bn7_left button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    background: #164A77;
    border-radius: 10px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 18px 0px;
    color: #fff;
    padding-left: 19.5px;
}
button img {
    padding-left: 14px;
    padding: 14px 25px 14px 14px;
}
.wr_bn7_right {
    width: 39%;
    float: left;
    padding: 25px 66px 25px 0px;
    background: url(../images/logo.png) no-repeat;
    background-position: 94% 11%;
    margin-right: 20px;
}
/* banner8 */
.wr_baner8 {
    width: 100%;
    float: left;
    padding-top: 50px;
}
.title-bn8 {
    width: 100%;
    float: left;
    position: relative;
}
/* banner9 */
.wr_banner9 {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 100px;
}
.title-bn9 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #242B34;
    padding-bottom: 31px;
}
.wr_bn9_left {
    width: 69.2%;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 25px;
    float: left;
    margin-left: 40px;
}
.wr_bn9_left .text-1,
.wr_bn9_left .text-2 {
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
    color: #333333;
}
.wr_bn9_left .img-text {
    width: 100%;
    text-align: center;
}
.wr_bn9_left .hiden {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}
.wr_bn9_left button {
    padding: 10px;
    border: 1px solid #164A77;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #164A77;
}
.wr_bn9_right {
    width: 26%;
    float: right;
    padding-right: 40px;
}
.q-menu-article {
    width: 100%;
    height: fit-content;
    padding: 21px 24px 0 27px;
    background-color: #EFF3FC;
    border-radius: 16px;
}
.q-title-heading {
    width: 100%;
    height: 38px;
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2767A5;
    border-bottom: 2px solid #2767A5;
}
.boxmucluc {
    padding-top: 15px;
    padding-bottom: 15px;
}
.boxmucluc li a.ml_h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #2767A5;
    margin-bottom: 16px;
}
.boxmucluc li {
    padding-left: 0;
    padding-bottom: 16px;
}
.boxmucluc li a {
    color: #1C1D20;
}
.boxmucluc li a.ml_h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #333333;
    padding-left: 25px;
}
.boxmucluc ul {
    padding: 0px;
}